.button {
  @apply text-white font-normal text-sm no-underline py-2 px-5 rounded-lg shadow;

  &-blue{
    @apply bg-blue-500;

    &:hover {
      @apply bg-blue-700;
    }
  }

  &.is-outlined {
    @apply bg-white border border-gray-500 text-gray-500;
  }
}
